.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# environment variables
.env

# data and model files
data/
models/

# Jupyter Notebook checkpoints and outputs
.ipynb_checkpoints/
*.ipynb